<h2>Pomodoro Timer</h2>
<main>
  <br />
  <header>
    <div class="row settings" [class.hide]="!timerPaused">
      <div class="break col-md-6">
        <p>BREAK LENGTH</p>
        <button (click)="timerPaused && breakIncrement(-1)" class="minus">
          -
        </button>
        <span class="time">{{ breakLength }}</span>
        <button (click)="timerPaused && breakIncrement(1)" class="plus">
          +
        </button>
      </div>
      <div class="session col-md-6">
        <p>SESSION LENGTH</p>
        <button (click)="timerPaused && sessionIncrement(-1)" class="minus">
          -
        </button>
        <span class="time">{{ sessionLength }}</span>
        <button (click)="timerPaused && sessionIncrement(1)" class="plus">
          +
        </button>
      </div>
    </div>
  </header>
  <section (click)="timerStartPause()">
    <div class="timer">
      <p class="title">{{ sessionType }}</p>
      <p>
        {{ displayTimeRemaining(timeLeft) }}
      </p>
      <span
        [style.height]="fillHeight + '%'"
        [style.background]="fillColor"
        class="fill"
      ></span>
    </div>
  </section>
</main>
