<h2>{{ title }}</h2>
<main class="text-white">
  <br />
  <!-- Settings -->
  <header>
    <div class="row settings" [class.hide]="pomodoroRunning">
      <div class="break col-12">
        <p>BREAK LENGTH</p>
        <button (click)="breakLength > 1 && breakIncrement(-1)" class="minus">
          -
        </button>
        <span class="time">{{ breakLength }}</span>
        <button (click)="breakIncrement(1)" class="plus">+</button>
      </div>
      <div class="session col-12">
        <p>SESSION LENGTH</p>
        <button
          (click)="sessionLength > 5 && sessionIncrement(-5)"
          class="minus"
        >
          -
        </button>
        <span class="time">{{ sessionLength }}</span>
        <button (click)="sessionIncrement(5)" class="plus">+</button>
      </div>

      <form class="col-12">
        <input
          class="form-control"
          type="text"
          placeholder="(Enter optional task name)"
          [(ngModel)]="currTaskName"
          [ngModelOptions]="{ standalone: true }"
        />
      </form>
    </div>
  </header>

  <!-- Timer Button -->
  <section class="container mx-auto mt-2 row">
    <div class="col-12">
      <div class="timer" (click)="timerStartPause()">
        <div *ngIf="pomodoroRunning && !timerPaused">
          <p class="title">{{ timerType }}</p>
          <p>
            {{ timeRemainingRendered }}
          </p>
          <span
            [style.height]="fillHeight + '%'"
            [style.background]="fillColor"
            class="fill"
          ></span>
        </div>
        <div class="title" *ngIf="pomodoroRunning && timerPaused">
          <!-- TODO: play button here -->
          Resume
        </div>
        <div class="title" *ngIf="!pomodoroRunning">Start New</div>
      </div>
    </div>
    <div *ngIf="currPom" class="col-12 mt-4">
      <button (click)="wrapUpPom()" class="btn btn-md btn-outline-danger">
        Wrap up Session early
      </button>
      {{ currPom | json }}
    </div>
  </section>

  <!-- Result -->
  <section class="mt-5">
    <div class="col-12 table-responsive">
      <table class="table text-white">
        <thead>
          <th scope="col">#</th>
          <th scope="col">Task Name</th>
          <th scope="col">Session Length</th>
          <th scope="col">Break Length</th>
          <th scope="col">Focus</th>
          <th scope="col">Stress</th>
          <th scope="col">Productivity</th>
        </thead>
        <tbody>
          <tr *ngFor="let p of poms; let i = index">
            <td>Pomodoro {{ i + 1 }} {{ p | json }}</td>
            <td>{{ p.taskName }}</td>
            <td>
              {{ renderTimeHmmss(p.sessionElapsedTime) }}
            </td>
            <td>
              {{ renderTimeHmmss(p.breakElapsedTime) }}
            </td>
            <td>
              {{ p.focusLevel }}
            </td>
            <td>
              {{ p.stressLevel }}
            </td>
            <td>
              {{ p.productivityLevel }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>
